= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :default_ship, 'Default Shipping Address'
    %br/
    = f.select(:default_ship, options_from_collection_for_select(@user.addresses, "id", "address", @user.default_ship))
  .field
    = f.label :default_bill, 'Default Billing Address'
    %br/
    = f.select(:default_bill, options_from_collection_for_select(@user.addresses, "id", "address", @user.default_bill))
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :email_confirmation
    %br/
    = f.text_field :email_confirmation, value: @user.email
  .actions
    = f.submit