%h2 Change Password
= form_for(@user, :url => { :action => "update_password" } ) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this password change from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :email_confirmation, value: @user.email, type: "hidden"
  .field
    = f.label :password, "Password"
    %br/
    = f.password_field :password, autofocus: true, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit "Change Password"

= link_to 'Back', account_path