%section.product
  %h4= link_to(product.name, product)
  %span.category= "Category: #{product.category.name}"
  %ul
    %li= product.description
    %li= "Price: #{currency(product.price)}"
    %li= "In-Stock: #{product.stock_quantity}"
    %li
      = form_tag(add_to_cart_path) do
        %input{type: 'hidden', name: 'product_id', value: product.id}
        - if session[:cart].nil? || session[:cart][product.id.to_s].nil?
          - id = 0
        - else
          - id = session[:cart][product.id.to_s]
        %input.qty{id: 'qty', name: 'qty', value: id}
        = render partial: partial_name, locals:{product: product, button_name: button_name}
    %li.image= image_tag(product.productImage)