%h2 My Account
%section
  %h4 Recent Orders
  %table.orders.my_account
    %tr
      %th Order ID
      %th Order Status
      %th Order Date
      %th Amount
    - orders.each do |order|
      %tr
        %td= order.id
        %td= order.status
        %td= order.created_at.to_s[0,10]
        %td= order_amount(order.id)
  %h4 User Information
  %section.my_account
    %ul
      %li= link_to('Edit Addresses', '/addresses')
      %li= link_to('Edit Name, Email and default addresses', '/users/' + current_user.id.to_s + '/edit')
      %li= link_to('Change Password', 'users/' + current_user.id.to_s + '/change_password')