%section.product
  %h4= link_to(product.name, product)
  %span.category= "Category: #{product.category.name}"
  %ul
    %li= product.description
    %li= "Price: #{currency(product.price)}"
    %li= "In-Stock: #{product.stock_quantity}"
    %li
      %input.qty{placeholder: '0'}
      %button Add to Cart
    %li.image= image_tag(product.productImage)