%section.product
  %h4= link_to(product.name, product)
  %span.category= "Category: #{product.category.name}"
  %ul
    %li= product.description
    %li= "Price: #{currency(product.price)}"
    %li= "In-Stock: #{product.stock_quantity}"
    %li
      = form_tag(add_to_cart_path) do
        %input{type: 'hidden', name: 'product_id', value: product.id}
        %input.qty{id: 'qty', name: 'qty', placeholder: '0'}
        = submit_tag 'Add to Cart'
    %li.image= image_tag(product.productImage)