!!!
%html
  %head
    %title Computer Geeks
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#body
    = render 'shared/header'
    - if notice
      %div.alert.alert-success= notice
    - if alert
      %div.alert.alert-danger= alert
    %section#container
      = yield
      %footer
        = render 'shared/footer'